@import url("styles.css");

#timer, #scoreLabel {
    -fx-font-family: "VCR OSD Mono";
    -fx-font-size: 60;
    -fx-text-fill: white;
}
#scoreLabel {
    -fx-font-size: 50;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-font-size: 45;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #72ff00;
    -fx-text-alignment: center;
}